<div class="container">
    <section id="about-card" class="card p-4 bg-light info-card">

        <h1 class="mx-auto text-center">The <i>only</i> FIRST Robotics team in Baltimore City</h1>
        <hr class="">
            <div class="container">
                <div class="row"> 
                    <div class="col-md">
                        <div class="card mb-1">
                            <div class="card-header bg-theme"><h4 class="card-title text-center text-light m-0"></h4></div>
                                <div class="card-body">
                                    <h3>The Baltimore Bolts is Baltimore City's own FIRST Robotics Competition team.<br><br> We gladly welcome all high school students in Baltimore City to join our meetings located in Pig Town Baltimore!</h3>
                                </div>
                            </div>
                        </div>
                    <div class="col-md">
                        <div class="card mb-1">
                            <div class="card-body">

                                <img src="/assets/img/wicomico.jpg" class="d-flex img-fluid mx-auto mt-2 rounded" style="width: 100%;"/>

                            </div>
                        </div>
                    </div>
                </div> 
            </div>   
            <hr> 
            <div class="container">
                <div class="row"> 
                    <div class="col-md">
                        <div class="card mb-1">
                            <div class="card-body">
                                <img src="/assets/img/mission.jpg" class="d-flex img-fluid mx-auto mt-2 rounded" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card mb-1">
                            <div class="card-header bg-theme"><h4 class="card-title text-center text-light m-0"></h4></div>
                            <div class="card-body">
                                <h3>Our mission is to give our team members the inspiration and skills needed to pursue careers in STEM through competitive robotics.</h3>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>  

            <hr>
            <div>
                <h1 class="mx-auto text-center">Our 2023 Season</h1> 
                <hr>
                <div id="countdown-container" class="p-2 m-2 d-inline">
                  <iframe width="100%" height="500px" src="https://www.youtube.com/embed/Kuvy8bd1FHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

    </section>
</div>
