<div class="container">
    <section id="about-card" class="card p-4 bg-light info-card">

        <h1 class="mx-auto text-center">The <i>only</i> FIRST Robotics team in Baltimore City</h1>
        <hr class="">
        <h4 class="">
            The Baltimore Bolts is Baltimore City's own FIRST Robotics Competition team. We gladly welcome all high school students in Baltimore City to join our meetings located in Pig Town Baltimore! <hr> Our mission is to give our team members the inspiration and skills needed to pursue careers in STEM through competitive robotics.
        </h4>

    </section>
</div>
