<div class="container">
    <section id="about-card" class="card p-4 bg-light info-card">

        <h1 class="mx-auto text-center">The <i>only</i> FIRST Robotics team in Baltimore City</h1>
        <hr class="">
        <h4 class="">
            Welcome to the online home of the Baltimore Bolts, Baltimore City's own FIRST Robotics Competition team. The team gladly welcomes all high school students in Baltimore City with centrally localted meetings in downtown Baltimore! Our mission is to give our team members the inspiration and skills needed to pursue careers in science, technology, engineering, and math through competitive robotics.
        </h4>

    </section>
</div>
