<div class="container">
    <section id="countdown-card" class="card p-4 info-card">

        <h1 class="text-light mx-auto p-4">Countdown to Competition!</h1>
        <hr class="bg-light mx-4">

        <div id="countdown-container" class="p-4 m-4 d-inline">
            <h3 id="countdown-days" class="text-light d-inline display-3 mx-auto p-4 m-4 rounded">XXXd</h3>
            <h3 id="countdown-hours" class="text-light d-inline display-3 mx-auto p-4 m-4 rounded">XXh</h3>
            <h3 id="countdown-mins" class="text-light d-inline display-3 mx-auto p-4 m-4 rounded">XXm</h3>
            <h3 id="countdown-secs" class="text-light d-inline display-3 mx-auto p-4 m-4 rounded">XXs</h3>
        </div>

    </section>
</div>

