<footer class="footer">

    <div class="bg-light py-1 h-100 align-items-center mx-auto text-dark text-center">

        <h3 class="footer-title mx-auto text-center p-2 m-0">© Baltimore Bolts 2023</h3>

        <h5 class="d-inline mx-auto text-center pb-2 m-0">
            <a href="mailto:info@baltimorebolts.com">
                <i class="fa fa-envelope"></i> info@baltimorebolts.com
            </a>
        </h5>

        <br>

        <h5 class="d-inline mx-auto text-center pb-2 m-0">
            <a href="https://goo.gl/maps/1y97h9aah17MJAaM9">
                <i class="fa fa-map-marker-alt"></i> 1100 Wicomico Street 
            </a>
        </h5>

        <br>
        <div class="footer-logo mx-auto pt-2">
            <a href="/">
                {% include logo.svg %}
            </a>
        </div>

    </div>
    
</footer>
