<footer class="footer">

    <div class="bg-light py-4 h-100 align-items-center mx-auto text-dark text-center">

        <h3 class="footer-title mx-auto text-center p-4 m-0">© Baltimore Bolts 2020</h3>

        <h5 class="d-inline mx-auto text-center pb-2 m-0">
            <a href="mailto:info@baltimorebolts.com">
                <i class="fa fa-envelope"></i> info@baltimorebolts.com
            </a>
        </h5>

        <br>

        <h5 class="d-inline mx-auto text-center pb-4 m-0">
            <a href="https://goo.gl/maps/U48Hts3yZtmdSpNDA">
                <i class="fa fa-map-marker-alt"></i> 2002 Clipper Park Road
            </a>
        </h5>

    </div>
    
</footer>
