<div class="container">
    <section id="countdown-card" class="card p-4 info-card">

        <h1 class="text-light mx-auto text-center">Current Competition</h1>
        <hr class="bg-light">

        <div id="countdown-container" class="p-2 m-2 d-inline">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/gmiYWTmFRVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </section>
</div>