<div class="container">
    <section id="skills-card" class="card p-4 bg-light info-card">

        <h1 class="mx-auto">Skills</h1>
        <hr class="">

        <div class="container">

            <div class="row">
                <div class="col-md">
                    <h4 class="p-4 text-center">Mechanical</h4>
                    <i class="mx-auto w-100 display-1 fa fa-wrench"></i>
                </div>
                <div class="col-md">
                    <h4 class="p-4 text-center">Software</h4>
                    <i class="mx-auto w-100 display-1 fa fa-code-branch"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <h4 class="p-4 text-center">Electrical</h4>
                    <i class="mx-auto w-100 display-1 fa fa-plug"></i>
                </div>
                <div class="col-md">
                    <h4 class="p-4 text-center">Teamwork</h4>
                    <i class="mx-auto w-100 display-1 fa fa-users"></i>
                </div>
            </div>

        </div>

    </section>
</div>