@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap')

@import './bootstrap.min'

$theme-1: #1c407b
$theme-2: $theme-1
$theme-3: lighten($theme-2, 10%)
$theme-light: #F4F4F4
$light-grad: linear-gradient(96deg, $theme-2, $theme-3)
$light-grad-2: linear-gradient(177deg, $theme-2, $theme-3)

html, body
    height: 100%
    margin: 0

body
    font-family: "Poppins", sans-serif
    background-attachment: fixed
    color: $theme-1

a, a:link, a:visited, a:active
    text-decoration: none
    color: $theme-1

a:hover
    color: lighten($theme-1, 20%)

#logo
    g
        path.solid
            fill: $theme-1

.diamond-plate
    background-color: $theme-1
    background-image: linear-gradient(144deg, $theme-1 26px, transparent 27px), linear-gradient(-34deg, $theme-1 25px, transparent 26px), linear-gradient(132deg, rgba(255, 255, 255, 1) 26px, transparent 27px), linear-gradient(128deg, rgba(200, 200, 200, 0.7) 26px, transparent 27px), linear-gradient(-41deg, rgba(200, 200, 200, 1) 27px, transparent 28px), linear-gradient(-52deg, rgba(255, 255, 255, 1) 27px, transparent 28px), linear-gradient(-125deg, $theme-1 26px, transparent 27px), linear-gradient(55deg, $theme-1 25px, transparent 26px), linear-gradient(-132deg, rgba(200, 200, 200, 1) 26px, transparent 27px), linear-gradient(-141deg, rgba(255, 255, 255, 1) 26px, transparent 27px), linear-gradient(42deg, rgba(255, 255, 255, 1) 27px, transparent 28px), linear-gradient(38deg, rgba(200, 200, 200, 0.5) 27px, transparent 28px)
    background-size: 100px 100px
    background-position: -16px 9px, -13px -11px, -13px 13px, -13px 16px, -13px -11px, -13px -16px, -23px -1px, -3px -1px, -26px -1px, -30px -1px, -2px -1px, 1px -1px
    background-repeat: repeat
    height: 0
    width: auto
    padding-bottom: 56.25%

.bg-theme
    background-color: $theme-1

.bg-theme-inv
    background-color: $theme-light
    border-color: $theme-1
    color: $theme-1 !important

    &:hover
        background-color: $theme-1
        color: white !important

.navbar-nav > li > a:hover
    background-color: $theme-1
    color: $theme-light !important
    border-radius: 0.25rem

.dropdown-item:hover
    background-color: $theme-1
    color: $theme-light !important

.theme-title
    font-size: min(max(2.5rem, 8vw), 64px)

.masthead
    position: relative
    width: 100%
    min-height: 60vh
    background-image: url(/assets/img/bolts-2.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-color: $theme-1
    border-radius: .25rem

    .banner-title
        text-transform: uppercase
        text-shadow: 0 0 80px $theme-3, 0 0 90px $theme-3, 0 0 100px $theme-3, 0 0 110px $theme-3, 0 0 120px $theme-3, 0 0 130px $theme-3, 0 0 140px $theme-3
        
        // -webkit-animation: glow 3s ease-in-out infinite alternate
        // -moz-animation: glow 3s ease-in-out infinite alternate
        // animation: glow 3s ease-in-out infinite alternate
  
        // @keyframes glow
        //     from
        //         text-shadow: 0 0 40px $theme-2, 0 0 50px $theme-2, 0 0 60px $theme-2, 0 0 70px $theme-2, 0 0 80px $theme-2, 0 0 90px $theme-2, 0 0 100px $theme-2
        //     to
        //         text-shadow: 0 0 80px $theme-3, 0 0 90px $theme-3, 0 0 100px $theme-3, 0 0 110px $theme-3, 0 0 120px $theme-3, 0 0 130px $theme-3, 0 0 140px $theme-3

    h1
        padding-top: 2rem

    h4
        padding-bottom: 2rem
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 0%)
        text-align: center

.info-card
    margin-bottom: 2rem

.wrap
    min-height: 100vh

.page-content
    overflow: auto
    padding-bottom: 200px

.page-card
    margin-top: 6rem
    margin-bottom: 2rem

#banner-card
    margin-top: 6rem
    background: none

#skills-card .container .row .col-md i
    text-size: 64px

#countdown-card
    background-color: $theme-1
    border: 8px solid white

    #countdown-container
        text-align: center
        font-family: "Major Mono Display"
   
footer
    position: relative
    width: 100%
    margin-top: -200px
    height: 200px
    clear: both
    background: white

    .footer-title
        color: $theme-1

    .footer-logo svg
        width: 75px !important
        height: 75px !important

.page-button
    background-color: $theme-1

    &:hover
        background-color: $theme-1

.page-outline-button
    background-color: white
    border-color: $theme-1
    color: $theme-1

    &:hover
        background-color: white
        border-color: $theme-1
        color: $theme-1
