@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap')

@import './bootstrap.min'

$theme-1: #1c407b
$theme-2: $theme-1
$theme-3: lighten($theme-2, 10%)
$theme-light: #F4F4F4
$light-grad: linear-gradient(96deg, $theme-2, $theme-3)
$light-grad-2: linear-gradient(177deg, $theme-2, $theme-3)

body
    font-family: "Poppins", sans-serif
    background-attachment: fixed

a, a:link, a:visited, a:active
    text-decoration: none
    color: $theme-1

a:hover
    color: lighten($theme-1, 20%)

#logo
    g
        path.solid
            fill: $theme-1

.diamond-plate
    background-color: $theme-1
    background-image: linear-gradient(144deg, $theme-1 26px, transparent 27px), linear-gradient(-34deg, $theme-1 25px, transparent 26px), linear-gradient(132deg, rgba(255, 255, 255, 1) 26px, transparent 27px), linear-gradient(128deg, rgba(200, 200, 200, 0.7) 26px, transparent 27px), linear-gradient(-41deg, rgba(200, 200, 200, 1) 27px, transparent 28px), linear-gradient(-52deg, rgba(255, 255, 255, 1) 27px, transparent 28px), linear-gradient(-125deg, $theme-1 26px, transparent 27px), linear-gradient(55deg, $theme-1 25px, transparent 26px), linear-gradient(-132deg, rgba(200, 200, 200, 1) 26px, transparent 27px), linear-gradient(-141deg, rgba(255, 255, 255, 1) 26px, transparent 27px), linear-gradient(42deg, rgba(255, 255, 255, 1) 27px, transparent 28px), linear-gradient(38deg, rgba(200, 200, 200, 0.5) 27px, transparent 28px)
    background-size: 100px 100px
    background-position: -16px 9px, -13px -11px, -13px 13px, -13px 16px, -13px -11px, -13px -16px, -23px -1px, -3px -1px, -26px -1px, -30px -1px, -2px -1px, 1px -1px
    background-repeat: repeat
    height: 0
    width: auto
    padding-bottom: 56.25%

.masthead
    width: 100%
    height: 0
    background-image: url(/assets/img/bolts-2.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-color: $theme-1

    .banner-title
        text-transform: uppercase
        -webkit-animation: glow 3s ease-in-out infinite alternate
        -moz-animation: glow 3s ease-in-out infinite alternate
        animation: glow 3s ease-in-out infinite alternate
  
        @keyframes glow
            from
                text-shadow: 0 0 40px $theme-2, 0 0 50px $theme-2, 0 0 60px $theme-2, 0 0 70px $theme-2, 0 0 80px $theme-2, 0 0 90px $theme-2, 0 0 100px $theme-2
            to
                text-shadow: 0 0 80px $theme-3, 0 0 90px $theme-3, 0 0 100px $theme-3, 0 0 110px $theme-3, 0 0 120px $theme-3, 0 0 130px $theme-3, 0 0 140px $theme-3

    h1
        padding-top: 2rem
        padding-bottom: 32rem

    h4
        padding-bottom: 2rem

.info-card
    margin-bottom: 2rem

#banner-card
    margin-top: 6rem

#countdown-card
    background-color: $theme-1
    border: 8px solid white

    #countdown-container
        text-align: center
        font-family: "Major Mono Display"

footer
    .footer-title
        color: $theme-1

.page-button
    background-color: $theme-1

    &:hover
        background-color: $theme-1

.page-outline-button
    background-color: white
    border-color: $theme-1
    color: $theme-1

    &:hover
        background-color: white
        border-color: $theme-1
        color: $theme-1
